<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.main.service.Impl.MainMapper">

<select id="getUserList" resultType="java.util.LinkedHashMap" parameterType="Map">
        SELECT usrid, usrnm, mpno, na_bzplc
          FROM TB_LA_IS_MM_USR          
          <if test="data1 != null">
         	WHERE usrnm LIKE '%'+#{data1}+'%' 
         	
          </if>
         

    </select>

</mapper>